asn1crypto
attrs
certifi
cffi
chardet
Click
cryptography
defusedxml
docutils
dotmap
flex
idna
jenkinsapi
#jira==2.0.0
jsonpointer
jsonref
jsonschema
msgpack-python
oauthlib
pbr
prance
pycparser
PyJWT
pyrsistent
python-dateutil
pytz
PyYAML
requests
requests-oauthlib
requests-toolbelt
rfc3987
robotframework
robotframework-databaselibrary
robotframework-requests
robotframework-seleniumlibrary
robotframework-imaplibrary2
robotframework-CSVLibrary
robotframework-AxeLibrary
robotframework-pabot
selenium
semver
simplejson
six
strict-rfc3339
urllib3
webcolors
plotly
numpy
webdriver-manager
Wheel
